<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Employee List</title>
</head>
<body>
	<h1 align="center">Employee List</h1>
	<br/>
	<div align="center" class="container">
	<h4><a th:href="@{addEmployee}">Add Employee</a></h4>
		<table class="table table-striped" border="1"> 
		<thead>
			<tr>
				<td align="center" class="font-weight-bold"><h3>ID</h3></td>
				<td align="center" class="font-weight-bold"><h3>Name</h3></td>
				<td align="center" class="font-weight-bold"><h3>Age</h3></td>
				<td align="center" class="font-weight-bold"><h3>City</h3></td>
				<td colspan="2" align="center" class="font-weight-bold"><h3>Action</h3></td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="employee : ${employees}">
				<td th:utext="${employee.id}">...</td>
				<td th:utext="${employee.name}">...</td>
				<td th:utext="${employee.age}">...</td>
				<td th:utext="${employee.city}">...</td>
				<td><a th:href="@{/update/{id}(id=${employee.id})}" class="btn btn-info" >Update</a></td>
				<td><a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-info" >Delete</a></td>
			</tr>
			</tbody>
		</table>
	</div>

</body>
</html>